<div class="hero-unit">
	<h1>Editar Pessoa <%= @pessoa_pagar.nome %></h1>

	<%= render 'form' %>

	<%= link_to 'Mostar', @pessoa_pagar, :class => "btn" %> |
	<%= link_to 'Voltar', pessoa_pagars_path, :class => "btn" %>
</div>