<div class="hero-unit">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Nome:</b>
	  <%= @pessoa_pagar.nome %>
	</p>

	<%= link_to 'Editar', edit_pessoa_pagar_path(@pessoa_pagar), :class => "btn" %> |
	<%= link_to 'Voltar', pessoa_pagars_path, :class => "btn" %>
</div>