<div class="hero-unit">
	<h1>Editar Conta à Receber</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @conta_receber, :class => "btn" %> |
	<%= link_to 'Voltar', conta_recebers_path, :class => "btn" %>
</div>