<div class="hero-unit">
	<h1>Editar Pessoa à Receber</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @pessoa_receber, :class => "btn" %> |
	<%= link_to 'Back', pessoa_recebers_path, :class => "btn" %>
</div>