/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html.js body div#wrap div#content aside div#login.padrao form table tbody tr td input {
	    border: 1px solid #A0A0A0;
    color: #68102E;
    height: 25px;
    width: 138px;
}

html.js body div#wrap div#content aside div#login.padrao form table tbody tr td input.btn_login{
    background: -moz-linear-gradient(center top , #B71C51 0%, #83143A 45%, #590E27 99%) repeat scroll center top #B71C51;
    border-radius: 3px 3px 3px 3px;
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    height: 34px;
    padding: 2px 4px;
    width: 127px;	
}

#wrap header #login {
	position: absolute;
	left: 300px;
	top: 163px;
	width: 300px;
	height: 31px;
	margin: 0px;
	/*padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;*/
}
	
#wrap header .logado {
	background-image: url(../images/logged_bg.png);
	background-repeat: repeat-x;
	/*background-position: left bottom;*/
	line-height: 30px;
	height:34px;
	color: #ffea8b;
	font-weight: bold;
	padding-left: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	webkit-border-radius: 5px;
}

#wrap header #login .btn_edit {
	position: absolute;
	top: 5px;
	right: 42px;
}

#wrap header #login .btn_sair {
	position: absolute;
	top: 5px;
	right: 6px;
}

#wrap header #login .btn_entrar {
	background-image: url(../images/btn_login_entrar.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 31px;
	width: 63px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	text-indent: -9000px;
	cursor: pointer;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 10px;
}

#wrap header #login .btn_criar {
	background-image: url(../images/btn_login_criar.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 31px;
	width: 93px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	text-indent: -9000px;
	cursor: pointer;
	display: block;
	float: left;
	margin: 0px;
}

