<div class="hero-unit">
	<h1>Editar Conta a Pagar</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @conta_pagar, :class => "btn" %> |
	<%= link_to 'Voltar', conta_pagars_path, :class => "btn" %>
</div>